<div class="modal-header">
    <h4 class="modal-title">Historico</h4>
    <button type="button" class="close" ng-click="close()" data-dismiss="modal">&times;</button>
</div>


<div class="modal-body">
    <div style="padding-top: 2%;">
        <!-- contenido de histórico -->
        <table class="table table-bordered table-striped">
            <caption> </caption>
            <thead id="ColorTablaCero">
                <tr>
                    <th scope="col" ng-repeat="x in TableHeader" class="th-sm text-center">{{x.value}}</th>
            </thead>
            <tbody>
                <tr ng-repeat="x in Tablebody">
                    <td ng-repeat="y in x.campos" class="text-center">
                        <p ng-if="y.NombreCampo!='Imagen'&& !y.isHref">
                            {{y.value}}
                        </p>
                        <a ng-if="y.isHref" href="{{y.value}}" target="_blank" rel="noopener">{{y.NombreArchivo}}</a>
                        <span ng-if="y.NombreCampo=='Imagen'" style="font-size:20px;cursor:pointer"
                            class="glyphicon glyphicon-picture" ng-click="verImagen(y.value)"
                            style="cursor: pointer; display: inline;"></span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="modal-footer">
    <button type="button" ng-click="close()" class="btnFormINGEPModal" data-dismiss="modal">
        Cerrar
    </button>
</div>