<div class="modal fade" id="ModalCrearGestionAsociados" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal"
                    aria-hidden="true">&times;

                </button>
                <h4 class="modal-title">{{Pagina.Titulo}}</h4>
            </div>
            <div class="modal-body">
                <ng-form name="frmOb" class="container" novalidate>
                   
                  
                    <combo-box control-name="RGSHR" titulo="RGS HR" opciones="Lists.RGSHR" field-model="model.RGSHR"
                    is-required="true" form-reference="frmOb">
                    </combo-box>

                    <text-box control-name="RGSPROYECTO" titulo="RGS PROYECTO" field-model="model.RGSPROYECTO" is-required="true"
                        form-reference="frmOb">
                    </text-box>

                    <number-box control-name="CEDULA" titulo="CEDULA" field-model="model.CEDULA" is-required="true"
                        form-reference="frmOb">
                    </number-box>

                    <text-box control-name="NOMBRE" titulo="NOMBRE" field-model="model.NOMBRE" is-required="true"
                        form-reference="frmOb">
                    </text-box>

                    <combo-box control-name="HVINGLES" titulo="HV INGLES" opciones="Lists.HVINGLES"
                        field-model="model.HVINGLES" is-required="true" form-reference="frmOb">
                    </combo-box>

                    <combo-box control-name="HVFTATA" titulo="HV F TATA" opciones="Lists.HVFTATA"
                        field-model="model.HVFTATA" is-required="true" form-reference="frmOb">
                    </combo-box>

                    <combo-box control-name="PASAPRUEBATECNICA" titulo="PASA PRUEBA TECNICA" opciones="Lists.PASAPRUEBATECNICA"
                        field-model="model.PASAPRUEBATECNICA" is-required="true" form-reference="frmOb">
                    </combo-box>

                    
                </ng-form>
            </div>
            <div class="modal-footer">
                <button type="button" ng-disabled="!frmOb.$valid" ng-click="Guardar()" class="btn btn-green"
                    data-dismiss="modal">Guardar</button>
                <button type="button" ng-click="close(false)" class="btn btn-light"
                    data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>