<div class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal"
                    aria-hidden="true">&times;

                </button>
                <h4 class="modal-title">{{Pagina.Titulo}}</h4>
            </div>
            <div class="modal-body">
                <ng-form name="frmOb" class="container" novalidate>
                    <text-box control-name="Nombre" titulo="Nombre del Evento" field-model="model.NombreEvento"
                        is-required="true" form-reference="frmOb"></text-box>
                    <multiline-box control-name="Descripcion" titulo="Descripción del Evento"
                        field-model="model.Descripcion" is-required="true" form-reference="frmOb" rows="6">
                    </multiline-box>
                    <date-box control-name="Fecha" titulo="Fecha del Evento" field-model="model.Fecha"
                        is-required="true" form-reference="frmOb"></date-box>

                    <div class="form-group">
                        <label style="width: 100%;">Cargar Imagen: <span style="color: red;">*</span></label><br />
                        <input type="file" class="form-control" name="Imagen" id="Imagen" validatextension="jpg,png"
                            data-custom-file-change="model.Imagen" ng-model="model.Imagen" accept=".jpg,.png"
                            ng-required="Insertar" title="El tipo de archivo permitido en este campo es .jpg .png"
                            form-reference="frmOb" />
                    </div>
                    <combo-box control-name="Pais" titulo="País o Latam" opciones="Lists.Paises"
                        field-model="model.Pais" is-required="true" form-reference="frmOb"></combo-box>
                </ng-form>
            </div>
            <div class="modal-footer">
                <button type="button" ng-disabled="!frmOb.$valid" ng-click="Guardar()" class="btn btn-green"
                    data-dismiss="modal">Guardar</button>
                <button type="button" ng-click="close(false)" class="btn btn-light"
                    data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>