<div class="modal-header headerINGEP">
    <h4 class="modal-title ">{{Pagina.Titulo}}</h4>
    <button type="button" class="close closeButtonModal" ng-click="closeModalModalidad()" data-dismiss="modal">&times;</button>
</div>
<div class="modal-body">

    <ng-form name="frmOb" class="container" novalidate>
        <combo-box control-name="Numeroradicado" titulo="Seleccione código Ingep " opciones="Lists.Numeroradicado"
            field-model="model.Numeroradicado" is-required="true" form-reference="frmOb">
        </combo-box>
</div>

        

    </ng-form>
</div>
<div class="modal-footer">
    <button type="button" ng-disabled="!frmOb.$valid" ng-click="consultarM2()" class="btnFormINGEPModal"
        data-dismiss="modal">Continuar</button>
</div>