<div class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal"
                    aria-hidden="true">&times;

                </button>
                <h4 class="modal-title">{{Pagina.tituloPagina}}</h4>
            </div>
            <div class="modal-body">
                <ng-form name="frmOb" class="container" novalidate>
                    <div class="col-md-12">
                        <label>Número Empleado: </label>
                        <input control-name="NEmpleado" type="text" ng-model="selected" onkeydown="KeyEnter(event)"
                            uib-typeahead="Evento as Evento.name for Evento in Lists.Personas | filter:{name:$viewValue}"
                            class="form-control" typeahead-show-hint="true" typeahead-min-length="4">
                    </div>
                    <br>
                    <combo-box control-name="City" titulo="City" opciones="Lists.Citys" field-model="model.City"
                        is-required="true" form-reference="frmOb"></combo-box>
                    <text-box control-name="Role" titulo="Role" field-model="model.Role" is-required="true"
                        form-reference="frmOb"></text-box>
                    <combo-box control-name="EnglishLevel" titulo="English Level" opciones="Lists.EnglishLevels"
                        field-model="model.Nivel_Ingles" is-required="true" form-reference="frmOb"></combo-box>
                    <multiline-box control-name="SkillPrincipal" titulo="Skill 1" field-model="model.SkillPrincipal" is-required="true"
                        form-reference="frmOb" rows="6">
                    </multiline-box>
                    <multiline-box control-name="SkillSecundario" titulo="Skill 2" field-model="model.SkillSecundario" is-required="false"
                        form-reference="frmOb" rows="6">
                    </multiline-box>

                    <multiline-box control-name="SkillTres" titulo="Skill 3" field-model="model.SkillTres" is-required="false"
                        form-reference="frmOb" rows="6">
                    </multiline-box>
                    <text-box control-name="Grade" titulo="Grade" field-model="model.Grade" is-required="true"
                        form-reference="frmOb"></text-box>
                        <text-box control-name="LastWON" titulo="Last Account" field-model="model.LastWON" is-required="true"
                            form-reference="frmOb"></text-box>
                        <text-box control-name="BenchfutureRelease" titulo="Tipo(Bench or future Release)" field-model="model.BenchfutureRelease" is-required="true"
                        form-reference="frmOb"></text-box>
                    <date-box control-name="FechaRelease" titulo="Release Date" field-model="model.FechaRelease"
                        is-required="true" form-reference="frmOb"></date-box>

                    <div class="form-group">
                        <label style="width: 100%;">Hoja de vida: <span style="color: red;">*</span></label><br />
                        <input type="file" class="form-control" name="Imagen" id="Imagen" validatextension="doc,docx,pdf"
                            data-custom-file-change="model.Imagen" ng-model="model.Imagen" accept=".doc,.docx,.pdf"
                            title="El tipo de archivo permitido en este campo es .doc, .docx, .pdf"
                            form-reference="frmOb" />
                    </div>
                </ng-form>
            </div>
            <div class="modal-footer">
                <button type="button" ng-disabled="!frmOb.$valid" ng-click="Guardar()" class="btn btn-green"
                    data-dismiss="modal">Guardar</button>
                <button type="button" ng-click="close(false)" class="btn btn-light"
                    data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>