<div class="container">
  <div class="camera-section">
    <ngx-scanner-qrcode #action="scanner" [config]="config" (event)="onEvent($event, action)"></ngx-scanner-qrcode>
  </div>

  <!-- data  -->
  <p class="data mat-h5">{{ respuesta }}</p>

  <!-- loading -->
  <p *ngIf="action.isLoading" class="mat-h6">⌛ Loading...</p>

  <!-- Button Group -->
  <div class="button-group">
    <!-- start/stop -->
    <button class="mat-button" [class.mat-info]="!action.isStart" [class.mat-warning]="action.isStart" [disabled]="action.isLoading" (click)="handle(action, action.isStart ? 'stop' : 'start')">
      <img [src]="action.isStart ? 'https://id1945.github.io/images/svg/camera-off.svg' : 'https://id1945.github.io/images/svg/camera-on.svg'" width="30px" />
    </button>

    <!-- play/pause -->
    <button class="mat-button" [class.mat-info]="!action.isStart" [class.mat-warning]="action.isStart" [disabled]="!action.isStart" (click)="handle(action, action.isPause ? 'play' : 'pause')">
      <img [src]="action.isPause ? 'https://id1945.github.io/images/svg/play.svg' : 'https://id1945.github.io/images/svg/pause.svg'" width="30px" />
    </button>

    <!-- isTorch -->
    <button class="mat-button" [class.mat-info]="!action.isStart" [class.mat-warning]="action.isStart" [disabled]="!action.isStart" (click)="action.isTorch = !action.isTorch; handle(action, 'torcher')">
      <img [src]="action.isTorch ? 'https://id1945.github.io/images/svg/flash-off.svg' : 'https://id1945.github.io/images/svg/flash-on.svg'" width="30px" />
    </button>

    <!-- download -->
    <button class="mat-button" [class.mat-info]="!action.isStart" [class.mat-warning]="action.isStart" [disabled]="!action.isStart" (click)="handle(action, 'download')">
      <img src="https://id1945.github.io/images/svg/capture.svg" width="30px" />
    </button>
  </div>
</div>
