.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.camera-section {
  width: 50%; /* Ajusta el ancho de la sección de la cámara según tus necesidades */
  border: 2px solid #ddd; /* Puedes agregar un borde para resaltar la sección de la cámara */
  overflow: hidden;
}

ngx-scanner-qrcode {
  width: 100%;
  max-width: 100%; /* Asegura que el ngx-scanner-qrcode no se extienda más allá de su contenedor */
}

.button-group {
  display: flex;
  justify-content: center;
  gap: 10px; /* Ajusta el espacio entre los botones según tus necesidades */
  margin-top: 10px; /* Ajusta el margen superior según tus necesidades */
}

.button-group button {
  min-width: 0; /* Permite que el ancho del botón sea ajustado automáticamente según su contenido */
  font-size: 14px; /* Ajusta el tamaño de la fuente del botón */
}
